
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script src="~/Scripts/JavaScript.js"></script>
    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <nav id="menu">
        <ul>
            <li id="atu"><h1><a href="@Url.Action("Index","Home")">Home</a></h1></a></li>
            <li><a href="@Url.Action("Clientes","Cliente")">Cliente</a></li>
            <li><a href="@Url.Action("Produtos","Produto")">Produto</a></li>
            <li><a href="@Url.Action("Compras","Compra")">Compra</a></li>
        </ul>
    </nav>
    <div id="bordela">
        <h1>Integrantes do grupo:</h1>
        <ul id="integ">
            <li>Igor Blezer Moreira Goudard</li>
            <li>Magno Ramos Guimarães</li>
            <li>Matheus do Ó Santos Tiburcio</li>
            <li>Suzana Beatriz Gonçalvez</li>
        </ul>
    </div>
    <script src="./js/script.js"></script>
</body>
</html>